[Unit]
Description=S3 Signing Proxy Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/sign
ExecStart=/root/sign/s3-signing-proxy
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
